.row {
    display: flex;
    flex-wrap: nowrap;
    height: 7vh;



}

.dropdown {
    padding: 0%;
    flex: 1;
    /* Grow to fill available space */
    border: 2px solid rgb(7, 7, 7);


}

.col {
    padding: 0%;
    flex: 1;
    /* Grow to fill available space */
    border: 2px solid rgb(7, 7, 7);

}

#desc {
    /* background-color: blue; */
    color: rgb(16, 15, 15);
    width: 100%;

}

#btn {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
}
#addbtn{
    color: rgb(8, 97, 49);

}
#removebtn{
    color: brown;
}
#desc{
    background-color: antiquewhite;
    color: rgb(10, 10, 10);

}
#desc:hover{

    background-color: burlywood;
}

h1 {
    color: rgb(51, 5, 126);
    border: 2px solid rgb(7, 7, 7);
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 10vh;
}

#ul {
    border: 2px solid rgb(7, 7, 7);
    display: flex;
    flex-wrap: nowrap;

    height: 10vh;

}
#tododesc{
    font-style:normal;
    font-size:x-large;
}

#ul,#spn1 {
    align-items: center;
    justify-content: left;
    color: rgb(79, 10, 10);
    background-color:rgb(128, 131, 135);
    text-size-adjust: auto;
    
}
#ul:hover,#spn1:hover{
    background-color: rgb(97, 87, 87);;
    
}

#spn1 {
    align-items: baseline;
    justify-content: center;
    font-size:x-small;
}

#category {
    justify-content: right;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    text-align: right;
    color: rgb(4, 5, 5);
    text-size-adjust: auto;
    font-size:medium ;
}
#row{
    padding: 5px;
    size-adjust: auto;
}
.dropdown{
    padding: 5px;
}